* {
  margin: 0;
  padding: 0;
  border: 0;
}

div,
span,
article,
section,
header,
footer,
aside,
ul,
li,
a,
nav {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style-type: none;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 2rem 0;
  text-align: center;
  letter-spacing: 0.5rem;
}

main {
  display: flex;
  max-width: 100vw;
  gap: 3rem;
  padding: 1rem;
  background-color: whitesmoke;
}

.aside-left {
  width: 10%;
}
.brand-option {
  background-color: white;
  box-shadow: 0 10px 15px -5px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 1rem;
  justify-content: space-between;
}
.brand-option > span {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.brand-option > button {
  width: 100%;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

section {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.menu {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
  cursor: pointer;
}
.menu:hover {
  background-color: lightgray;
}
.menu > img {
  width: 35%;
  max-width: 10rem;
  min-width: 5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.menu-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 2rem;
  height: 100%;
  justify-content: center;
}

.menu-info > span {
  font-weight: bold;
  padding: 1rem 0;
}

.aside-right {
  flex-grow: 1;
  position: relative;
}
@keyframes ani {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translateX(-10%);
  }
  66% {
    transform: translateX(10%);
  }
  100% {
    transform: translate(0);
  }
}
.orderSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 10px 15px -5px rgb(0, 0, 0, 0.2);
  background-color: white;
  position: sticky;
  right: 0;
  top: 1rem;
}
.ani {
  animation: ani 0.3s ease-in-out;
}

.orderSheet > div:not(:last-child) {
  border-bottom: 1px solid black;
}
.cart,
.cost {
  width: 100%;
  flex-grow: 1;
  padding: 1rem 0;
}

.total {
  padding: 0.5rem 0;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.cart-item > input {
  width: 20%;
}

.order-button-wrapper {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}
.order-button-wrapper > button {
  background-color: dodgerblue;
  color: white;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background-color: dodgerblue;
  font-size: 2rem;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.hidden {
  display: none;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  width: 20rem;
  height: 10rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.button-wrapper > a,
.button-wrapper > button {
  font-size: 1rem;
  padding: 0 0.5rem;
}
.modal a {
  color: dodgerblue;
}
@media (max-width: 1600px) {
  .aside-left {
    width: 0;
  }
  .brand-option {
    position: absolute;
    left: 1rem;
    top: 0rem;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
  .brand-option > span {
    display: none;
  }
}
@media (max-width: 1024px) {
  section {
    grid-template-columns: 1fr;
  }
}
